.shopping-container {
  .title {
    margin-bottom: 16px;
  }
  .products-card-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }
  .handlers-actions-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bg-dark {
  background-color: rgb(55, 55, 55);
}
.text-white {
  color: #ffffff;
}

.custom-image {
  padding: 12px;
  border-radius: 16px;
}

.custom-buttons {
  > button,
  div {
    color: #ffffff !important;
    border-color: #ffffff !important;
  }
}

.shopping-cart {
  position: fixed;
  right: 10px;
  top: 0px;
}